---
layout: default
paginate: true
---

<div class="home">
	<div class="row">

		<div class="col-lg-3">
			<div class="pull-left sidebar-nav">
				<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;Personal</h3>
				  </div>
					<!-- List group -->
	  			<ul class="list-group">
						<li class="list-group-item"><a href="/about">about</a></li>
						<li class="list-group-item"><a href="http://resume.github.com/?cacoco" target="_blank">github resumé</a></li>
						<li class="list-group-item"><a href="http://resume.linkedinlabs.com/ik9f748e7" target="_blank">linkedIn resumé</a></li>
					</ul>
				</div>
				<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span>&nbsp;On the Internet</h3>
				  </div>
					<!-- List group -->
	  			<ul class="list-group">
						<li class="list-group-item"><a href="https://github.com/cacoco" title="code stuffs" target="_blank">github</a></li>
						<li class="list-group-item"><a href="https://flickr.com/photos/strangerinberkeley/sets" title="see me" target="_blank">flickr</a></li>
						<li class="list-group-item"><a href="https://coderwall.com/cacoco" title="i'm trying" target="_blank">coderwall</a></li>
					</ul>
				</div>
				<div class="panel panel-default">
				  <div class="panel-heading">
						<h3 class="panel-title"><span class="glyphicon glyphicon-list" aria-hidden="true"></span>&nbsp;Blog</h3>
				  </div>
					<!-- List group -->
	  			<ul class="list-group">
						{% if site.blog_index_asides.size %}
				    	{% include_array blog_index_asides %}
				    {% else %}
				    	{% include_array default_asides %}
				    {% endif %}
					</ul>
				</div>
		    <span>
					<a href="https://twitter.com/cacoco" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @cacoco</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
				</span>
				<br/>
				<p>
				<span><p><iframe src="http://ghbtns.com/github-btn.html?user=cacoco&type=follow" allowtransparency="true" frameborder="0" scrolling="0" width="132" height="20"></iframe></p></span>
				<span><a href="http://www.linkedin.com/in/ccoco"><img src="http://www.linkedin.com/img/webpromo/btn_liprofile_blue_80x15.png" width="80" height="15" border="0" alt="View Christopher Coco's profile on LinkedIn"></a></span>
			</div>
		</div>
		<div class="col-lg-9">
	    <div class="jumbotron" style="color:white; background-image: url('{{ root_url }}/images/IMG_2587.JPG')">
				<div class="container">
	  			<h1>life and code.&nbsp;in small doses.</h1>
	  			<p class="lead">Writings and code from another programmer.</p>
				</div>
				<div id="push"></div>
				<div id="push"></div>
	  	</div>

	    <div class="row">

	      <div class="col-lg-12">
	  			{% assign index = true %}
	  			  {% for post in paginator.posts %}
	  			  {% assign content = post.content %}
							<article>
								{% include article.html %}
							</article>
	  			  {% endfor %}
	  			  <div class="pagination">
	  			    {% if paginator.next_page %}
	  			      <a class="prev" href="{{paginator.next_page_path}}">&larr;&nbsp;Older</a>
							{% else %}
								<font color="#909090">&larr;&nbsp;Older</font>
	  			    {% endif %}
	  			    	&nbsp;&nbsp;<a href="/blog/archives">Blog Archives</a>
	  			    {% if paginator.previous_page %}
	  			    	&nbsp;&nbsp;<a class="next" href="{{paginator.previous_page_path}}">Newer&nbsp;&rarr;</a>
							{% else %}
								&nbsp;&nbsp;<font color="#909090">Newer&nbsp;&rarr;</font>
	  			    {% endif %}
	  			 </div>
	  		</div><!--/col-->

	    </div><!--/row-->

	  </div><!--/col-->
	</div><!--/row-->
</div>
