<div id="footer">

  <div class="container" style="text-align: center;">

    <p class="muted credit">
      <span class="credit">Copyright &copy; {{ site.time | date: "%Y" }}</span>&nbsp; -
      <span class="credit">Powered by <a href="https://github.com/octopress/octopress">Octopress</a>&nbsp;&&nbsp;<a href="http://glyphicons.com/">Glyphicons</a></span>&nbsp;&nbsp;&nbsp;
      <span class="pull-right">
        <a href="https://github.com/cacoco/Feedback/issues/new" title="Leave cacoco feedback using GitHub" target="_blank">
          <button type="button" class="btn btn-info btn-sm">
            <span class="glyphicon glyphicon-comment white"></span>&nbsp;Leave&nbsp;feedback
          </button>
        </a>
    </p>

  </div>

</div>
