<header role="banner">

  <div class="wrapper">

    <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand" href="#">Project name</a> -->
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <p class="navbar-text navbar-right">
  			    <span class="glyphicon glyphicon-asterisk white" aria-hidden="true"></span>&nbsp;1 angstrom = 1.0 × 10<sup>-10</sup> meters
  				</p>
          <ul class="nav navbar-nav">
            <li><a href="{{ root_url }}/"><span class="glyphicon glyphicon-home white" aria-hidden="true"></span>&nbsp;Home</a></li>
            <li><a href="/blog/archives"><span class="glyphicon glyphicon-list white" aria-hidden="true"></span>&nbsp;Blog</a></li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->

  </div>

</header>
