<!DOCTYPE html>
<html>

  {% include head.html %}

  <body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>

    {% include header.html %}

    <div id="wrap">
      <div class="container-fluid">
        {{ content }}
      </div>
      <div id="push"></div>
    </div>

    {% include footer.html %}

  </body>

</html>
